# Ignore PyCharm/IntelliJ IDEA project files
.idea/

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
.env/

# Ignore macOS system files
.DS_Store

# Ignore other unnecessary files or folders
*.log
*.tmp

